/*
HTTP Host: static.ak.fbcdn.net
Generated: August 24th 2010 8:52:23 AM PDT
Machine: 10.30.145.199
Locale: nu_ll
Path: css/5e500f39k3gg8kk4.pkg.css
*/

.UIContentTopper{padding:14px 0 0 17px;margin:50px auto 15px auto;border-top:2px solid #d3dae6}
.UIContentTopper_footer{width:578px;margin:5px auto 0 auto;font-size:10px}
.UIContentTopper_text_container{margin-top:6px;width:465px;float:left}
.UIContentTopper_text_headline{font-size:16px;font-weight:bold}
.UIContentTopper_text{font-size:12px;margin-top:4px}
.UIContentTopper_large .UIContentTopper_text{width:400px}
.UIContentTopper_text_bold{font-weight:bold}
.UIContentTopper_thumbnail{float:left;margin:0 15px 0 0}
.encap_footer .encap_footer_buttons{float:right}
.UIEncapsulatedPage_Title{font-size:16px;font-weight:bold}
.UIEncapsulatedPage_Controller{}
.UIEncapsulatedPage_ButtonContainer{float:right;margin-top:-5px}
.UIEncapsulatedPage_LinkContainer{float:right}
.UIEncapsulatedPage_ControllerLeft{float:left;width:170px;height:24px}
.UIEncapsulatedPage_ControllerRight{float:right;width:300px;height:24px}
.UIEncapsulatedPage_ControllerLink{font-size:12px}
.UIEncapsulatedPage_Footer{margin:15px 0 45px}
.UIEncapsulatedPage_Divider{color:#888;font-size:14px;width:7px;float:right;padding:0 4px 0 4px;margin-top:-1px}
.UIEncapsulatedPage_ControllerLeft_Back{padding-left:8px;display:inline-block;background:transparent url(/rsrc.php/z422W/hash/aeiebi88.gif) no-repeat scroll left 55%}
.UIWindowShade_Footer{margin:5px auto 0 auto;font-size:10px}
.UIWindowShade{border-top:1px solid #d0d0d0;background-color:#ededed}
.friendphotocaptcha_question_section{display:none;padding-top:12px}
.no_js .friendphotocaptcha_question_section{display:block}
.no_js .friendphotocaptcha_nextbutton{display:none}
.no_js #friendphotocaptcha_startbutton{display:none}
#friendphotocaptcha_intro{width:400px}
#friendphotocaptcha_intro p{text-align:center;padding-top:2px}
.friendphotocaptcha_challenge_table td{vertical-align:top;padding:8px}
.friendphotocaptcha_done{width:150px}
.friendphotocaptcha_unsure{padding-top:12px}
.roadblock .steps{margin-left:auto;margin-right:auto;width:640px}
.roadblock .roadblock_dialog{width:640px}
.roadblock .error{margin-bottom:15px}
.roadblock .inputcheckbox{margin:0 10px 0 0}
.roadblock #content p,
.roadblock #content ul{font-size:14px;line-height:1.5em;margin:0 0 15px 0;padding:0}
.roadblock #content .error p{line-height:14px;margin:4px 0 0 0}
.roadblock .UIContentBox{padding:0}
.roadblock .mcafee_header{background:#aa0828 url(/rsrc.php/zCN4G/hash/5vi195lo.gif) no-repeat 5px 5px;border-color:#7f0820;border-style:solid;border-width:1px 1px 0 1px;margin:-1px -1px 0 -1px;padding-top:28px}
.roadblock .title_header{background:none;margin-bottom:10px;padding:0}
.roadblock .title_header .title_h{background:none;font-size:13px;line-height:18px;padding:0}
.roadblock .title_header h2.title_h{display:none}
.roadblock #captcha_error_msg{margin-bottom:15px}
.roadblock #captcha{margin:0 auto;padding:15px 0;width:310px}
.roadblock #captcha h3{display:none}
.roadblock #captcha label,
.roadblock #captcha .captcha_input label{margin-right:7px;color:#666}
.roadblock #captcha .recaptcha_text{font-size:13px;line-height:18px}
.roadblock #captcha #recaptcha_image{margin-bottom:7px}
.roadblock #captcha_response{margin-left:0}
.roadblock .editor{margin:15px auto;width:310px}
.roadblock .editor .label{color:#666;font-size:13px;font-weight:bold;padding:5px 5px 0 0;text-align:right;vertical-align:top}
.roadblock .editor .tips{padding:5px 0 10px}
.roadblock #content ul.security_tips{list-style:square;margin:0 0 15px 15px}
.roadblock #content ul.security_tips_not_bold{list-style:square;margin:10px 0 10px 15px}
.roadblock ul.security_tips img{padding-top:5px}
.roadblock .roadblock_buttons{padding-top:15px;text-align:center}
.roadblock .friend_photo_captcha #captcha{width:inherit}
.roadblock #friendphotocaptcha_intro{width:inherit}
.roadblock #friendphotocaptcha_intro p{padding:10px}
.roadblock #friendphotocaptcha_choices{font-size:11px;font-weight:normal}
.roadblock .UIMeter{display:inline-block;text-align:left}
.roadblock .UIMeterLabel{font-weight:bold;padding-left:10px;vertical-align:middle;padding-top:3px}
.roadblock .infected_files{font-weight:bold}
.roadblock .removal_option_section{margin-bottom:25px}
.roadblock .removal_option_section label{display:inline-block;line-height:1.4em}
.roadblock .removal_option_section label strong{padding-right:5px}
.roadblock .infected_files2{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px;padding:3px;overflow:auto;height:350px}
.roadblock .filelist{overflow:auto;height:350px}
.roadblock label{font-size:13px;color:#000;font-weight:normal}
.roadblock .opt_out{display:block;padding-top:5px}
.roadblock .mcafee_logo{position:relative;top:5px;padding-right:10px}
.roadblock_me .landing_page_form_buttons{padding-top:10px;text-align:center}
.uiStepList ol{background:url(/rsrc.php/z9R85/hash/c9k4m3x0.png);height:51px;list-style:none;margin:0;padding:0}
.uiStep{display:inline;list-style-type:none}
.uiStep .part{background:url(/rsrc.php/z5Q2U/hash/5xtltb43.png);float:left;height:51px}
.uiStep .back{background-position:-24px 0}
.uiStep .middle{background:url(/rsrc.php/z9R85/hash/c9k4m3x0.png)}
.uiStep .point{background-position:-30px 0;width:21px}
.uiStep .title{margin-bottom:1px}
.uiStep .content{margin:11px 10px 0 10px}
.uiStepSelected .content{margin-left:5px}
.uiStepListSmallDescription .description{font-size:10px}
.uiStepFirst .back{width:3px}
.uiStepFirst .content{margin-left:15px}
.uiStepSelected .back{background-position:-21px 0}
.uiStepSelected .middle{background:url(/rsrc.php/zCXJ7/hash/ayoyfo25.png)}
.uiStepSelected .point{background-position:0 0}
.uiStepNextSelected .point{background-position:-51px 0}
.uiStepSelected .title,
.uiStepSelected .description,
.uiStepSelected a{color:#fff}
.warning_page #content p{line-height:19px;font-size:14px;margin-bottom:0}
.wizardFriendRequests{width:400px}
.wizardFriendRequests .auxiliary .async_saving{position:relative}
.wizardFriendRequests .auxiliary .loadingIndicator{height:11px;left:50%;margin:-5px 0 0 -6px;position:absolute;top:50%;width:16px}
.wizardFriendRequests .auxiliary .async_saving .loadingIndicator{background:url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat 0 0}
.wizardFriendRequests .async_saving label{visibility:hidden}

#bootloader_css_5e500f39k3gg8kk4_pkg_css { height: 42px; }